<div class="auth-container">
  <h2>Register</h2>
  <p *ngIf="message" class="message">{{ message }}</p>
  <form (ngSubmit)="handleSubmit()">
    <input
      type="text"
      placeholder="Name ..."
      [(ngModel)]="formData.name"
      name="name"
      required
    />
    <input
      type="email"
      placeholder="Email ..."
      [(ngModel)]="formData.email"
      name="email"
      required
    />
    <input
      type="password"
      placeholder="Password ..."
      [(ngModel)]="formData.password"
      name="password"
      required
    />
    <input
      type="number"
      placeholder="Phone Number ..."
      [(ngModel)]="formData.phoneNumber"
      name="phoneNumber"
      required
    />
    <!-- Dropdown for selecting role -->
    <select [(ngModel)]="formData.role" name="role" required>
      <option value="" disabled selected>Select a role...</option>
      <option value="USER">USER</option>
      <option value="MANAGER">MANAGER</option>
      <option value="ADMIN">ADMIN</option>
    </select>
    <button type="submit">Register</button>
  </form>
  <p>Already have an account?<a routerLink="/login" routerLinkActive="router-link-active">Login</a></p>
</div>

